@charset "UTF-8";
body {
   background-color: #1b2838;
   color : white;
}
body legend {
	color : black;
}
body #myPageContent tbody {
	border : 1px solid white;
}
body #myPageContent input[type="text"], textarea, body input[type="password"] {
  background-color : #313d4c;
  border : 2px solid white;
  margin : 10px;
  color : white;
}
div#headerWrap.enabled ul > li > a {
  color : white;
}

#upperSmallNav {
  background-color: #354f6f;
}
div#headerWrap.enabled {
  background-color: #313d4c;
  border : 0;
}
div#headerWrap ul > li > a {
  color : white;
}
#myPageProfile div {
  max-width: 1390px;
  width: 100%;
  height: 300px;
  margin: 300px auto 0 auto;
  padding : 40px;
  border : 1px solid white;
  background-color: rgba(0,0,128,0.2);
  border-radius: 30px;
  backdrop-filter: blur(10px);
}
#myPageProfile h2 {
  display : block;
  position : absolute;
  width: 1390px;
  height : 40px;
  left : calc(50% - 695px);
  top : 200px;
  border-bottom: 2px solid white;
  padding-bottom: 60px;
}
img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
#myPageProfile div {
  display : flex;
  flex-flow: row;
}
#myPageContent, #myPageTab{
  max-width: 1390px;
  width: 100%;
  margin: 30px auto 0 auto;
}
#myPageTab {
  margin-top : 200px;
}
#myPageTab ul {
  margin-top: 30px;
}
#myPageContent {
  padding : 40px;
  border : 1px solid white;
  background-color: rgba(0,0,128,0.2);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  border-style : none;
}
#myPageTab ul {
  display : flex;
  width : 100%;
  justify-content: space-around;
}
#myPageTab ul li {
  width : 100%;
  height : 40px;
  padding-top: 6px;
  border : 1px solid white;
  text-align: center;
}
#myPageTab ul li.active {
  background-color: white;
}
#myPageTab ul li.active a {
  color : black;
}
#myPageTab h2 {
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}
#myPageTab a {
  color : white;
}
#myPageContent {
  border : 1px solid white;
}
#myPageMyInfo,#myPageMyActivity, #myPageFavorite, #myPageBuyList, #myPageMemberOut, #myPageMemberBanned, #myPageAdmin {
  display : block;
}
#myPageAdmin {
  display : block;
}
#myPageMyInfoForm ul li {
  display : flex;
  flex-flow : row;
  height : 60px;
  justify-content : space-around;
}
#myPageMyInfoForm ul li > span {
	width : 50%;
	text-align : right;
	padding-top : 6px;
	margin-right : 50px;
}
#myPageMyInfoForm ul div {
	width : 50%;
}
#dblCheck3{
	line-height : 10px;
}
/* myPageMyActivity */
#myPageMyActivity a {
  color : white;
}
#myPageMyActivityLeftNavWrap {
  width : 15%;
}
#myPageMyActivityLeftNav{
  margin-right: 10px;
}

#myPageMyActivityLeftNavWrap ul li {
  height : 240px;
  padding-top : 80px;
  text-align: center;
  font-size: 1.5em;
}
#myPageMyActivityLeftNavWrap ul li.enabled {
  background: white;
}
#myPageMyActivityLeftNavWrap ul li.enabled a {
  color : black;
}
#myPageMyActivityContent {
  width : 100%;
  height : 510px;
  display : flex;
  overflow : auto
}

#myPageMyActivityContent > ul {
  min-height: 50%;
  width : 100%;
  border : 1px solid white;
}
#myPageMyActivityContent2 {
  display:none;
}
#myPageMyActivityContent ul li{
  border: 1px solid white;
  min-height: 28.8px;
  margin: 10px;
}
#myPageMyActivityContent table {
	width : 100%;
	height : 510px;
	border : 1px solid white;
	text-align : center;
}
#myPageMyActivityContent table tr{
	height : 70px;
	border-bottom : 1px solid white;
}
#myPageMyActivity {
	padding : 10px;
	border : 2px solid white;
}
/* myPageMemberOut */
#myPageMemberOut a {
  color : white;
}
#myPageMemberOutInnerWrap {
  text-align: center;
  min-height : 100px;
}
#myPageMemberOutBtn {
  position: absolute;
  display: block;
  left : calc(50% - 50px);
  cursor: pointer;
  bottom : 40px;
}

/* admin */
#myPageAdminInnerTab section.active {
  display : block;
}
#myPageAdminNav ul li a{
  color : white
}
#myPageAdminNav ul li.enabled {
  color : red;
}
#myPageAdminInnerTab section div {
  display : flex;
  flex-flow: column;
  border: 1px solid white;
}
/* table detail */
#myPageAdminInnerTab section #memberManagerPaging, #myPageTransactionPaging{
	display : flex;
	flex-flow: row;
	justify-content : center;
}
#memberManagerPaging a, #myPageTransactionPaging a {
	min-width : 100px;
	min-height : 20px;
}
#memberManagerPaging a.num, #myPageTransactionPaging a.num {
	min-width : 30px;
	min-hegiht : 20px;
}
#myPageAdminInnerTab section #marketManagerPaging{
	flex-flow: row;
	justify-content : center;
}
#marketManagerPaging a {
	min-width : 100px;
	min-height : 20px;
}
#marketManagerPaging a.num {
	min-width : 30px;
	min-height : 20px;
}
#myPageAdminInnerTab section #subHandler {
	display : flex;
	flex-flow : row;
	height : 30px;
	justify-content : space-around;
	text-align : center;
}
#myPageAdminInnerTab section #subHandler span{
	width : 50%;
	height : 30px;
	border : 1px solid white;
}
#myPageAdminInnerTab section div ul {
  display : flex;
  flex-flow: row;
  justify-content:space-around;
  border-bottom: 1px solid white;
}
#myPageAdminInnerTab a,#myPageTransactionPaging a {
  color : white;
  display : block;
  border : 1px solid white;
  text-align: center;
}
#memberManagerNo, #myPageTransactionNo{
  display : none;
}
#searchForm{
	display : flex;
	flex-flow : row;
	justify-content:space-around;
}
#select,#searchForm input[type=button] {
	background-color : rgba(0,0,128,0.2);
	color : white;
	margin : 5px;
	border : 1px solid white;
	width : 200px;
	padding-bottom : 2px;
}
#select option {
	background-color : rgba(0,0,128,0.6);
	color : white;
}
#marketManagerNo, #memberManagerNo {
	display : none;
}
/* admin upper tab */
#myPageAdminNav ul {
	display : flex;
	flex-flow : row;
	justify-content : space-around;
	border: 1px solid white;
	margin-bottom : 10px;
	height : 30px;
}
#myPageAdminNav ul li {
	width : 20%;
	height : 100%;
	text-align : center;
}
#myPageAdminNav ul li.active {
	background-color : white;	
}
#myPageAdminNav ul li a.active {
	color : black;
}
/* admin table */
.myPageTransactionTable, .myPageAdminBannedMarketManageTable, .myPageAdminMemberManageTable, .myPageAdminMarketManageTable, .myPageAdminBannedMemberManageTable {
	width : 100%;
}
.myPageTransactionTable tbody,.myPageAdminBannedMarketManageTable tbody, .myPageAdminRepManageTable tbody, .myPageAdminMarketManageTable tbody, .myPageAdminRepManageTable tbody {
	width : 100%;
}
#myPageTransactionList a.active, #myPageAdminRepManage a.active, #myPageAdminMarketManage a.active,#myPageAdminBannedMarketManage a.active {
	background-color : white;
}	
.num.active {
	background-color : white;
}

/* btn */
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #354f6f;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
.button-68-small {
	width : 130px;
	height : 40px;
	font-size : 14px;
	line-height : 1px;
}

/* table hover and liner */
#myPageMyActivityLeftNav li,#myPageMyActivityAjaxTemplate tr{
	cursor : pointer;	
}
.myPageTransactionTable tr,.myPageAdminMarketManageTable tr ,.myPageAdminBannedMarketManageTable tr,.myPageAdminMemberManageTable tr ,.myPageAdminBannedMemberManageTable tr, #myPageMyActivityAjaxTemplate tr{
  transition: background 0.25s ease;
  height : 40px;
}
.myPageAdminMarketManageTable td,.myPageAdminMarketManageTable th, .myPageAdminBannedMarketManageTable td,.myPageAdminBannedMarketManageTable th,
.myPageAdminMemberManageTable td,.myPageAdminMemberManageTable th, .myPageAdminBannedMemberManageTable td,.myPageAdminBannedMemberManageTable th,
.myPageTransactionTable td, .myPageTransactionTable th {
	border-right : 1px solid white;
	padding : 5px;
}
.myPageAdminMarketManageTable td,.myPageAdminBannedMarketManageTable td,
.myPageAdminMemberManageTable td,.myPageAdminBannedMemberManageTable td,
.myPageTransactionTable td
{
	max-width: 200px;
	overflow: hidden;
 	text-overflow: ellipsis;
 	white-space: nowrap;
}
.myPageAdminMarketManageTable th,.myPageAdminBannedMarketManageTable th,
.myPageAdminMemberManageTable th,.myPageAdminBannedMemberManageTable th,
.myPageTransactionTable th {
	border-bottom : 1px solid white
}
.myPageAdminMarketManageTable tr:hover,.myPageAdminBannedMarketManageTable tr:hover,
.myPageAdminMemberManageTable tr:hover,.myPageAdminBannedMemberManageTable tr:hover,
#myPageMyActivityAjaxTemplate tr:hover,.myPageTransactionTable tr:hover {
  background: #014055;	
}
/* status div */
#myPageAdminStatusWrap div {
	margin : 10px;
	text-align : center;
}
#myPageAdminStatusWrap h2 {
	margin : 20px 0;
}
#myPageAdminInnerTab section .myPageAdminStatus ul {
	margin-bottom : 30px;
	text-align : center;
	border : 0;
}
#myPageAdminInnerTab section .myPageAdminStatus ul li {
	border : 1px solid white;
	border-radius: 30px;
	padding : 10px;
}
#myPageMyInfoPasswordConfirm{
	padding : 0;
	background-color : #313d4c;
}
.myPageAdminMarketManageTable span,.myPageAdminBannedMarketManageTable span,
.myPageAdminMemberManageTable span,.myPageAdminBannedMemberManageTable span,
#subHandler span,#searchMemberBtn,#searchMarketBtn{
	cursor : pointer;
}
/* for transac */
.myPageTransactionTable {
	border : 2px solid white;
}
/* additional activity */
#myPageMyActivityContent article {
	position : absolute;
	left : 35%;
	top : 50%;
}
#dialog1,#dialog2 {
	background : white;
	
}
.ui-dialog {
	background : black;
	border : 4px solid black;
}
.ui-button {
	position : absolute;
	bottom : 5px;
	width : 60px;
	right : 10px;
}
.ui-dialog-title {
	display : block;
	width : 100%;
	height : 30px;
	text-align : center;
	background : gray;
}
.ui-dialog-titlebar-close {
	position : absolute;
	bottom : 5px;
	width : 60px;
	left : 10px;
}
#dialog1 > input,#dialog2 > input {
	margin : 0px;
	position : absolute;
	left : 0;
	top : 40%;
	width : 100%;
}