@charset "utf-8";

/* 네비  */
#upperSmallNav a {color: #000;}
div#headerWrap ul > li > a {color: #000;}



#flex{
    display: flex;
    flex-direction: column;
}
#logo_sh{
    width:250px;
    height: 200px;
    background-image: url(../image/mainLogo.png);
    background-size: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
#main{
    display:block;
    width:250px;
    height: 200px;
    margin: 0 auto;
}

/* 메인영역 */
.check_sh{
    width: 500px;
    height: 10px;
    color:red;
    text-align: center;
    margin: 0 auto;
}
#title_sh{
    text-align: center;
    color:gray;
    text-shadow: 2px 2px lightgray;
    padding-bottom: 0 30px;
}
body{
    width: 100%;
    height: 100%;
}
#listWrap_sh{
    max-width: 1200px;
    height: 950px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    padding-bottom: 40px;
}
#list_sh{

}
#forms_sh li{
    width: 600px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}
#forms_sh li span{
    display: block;
    position:absolute;
    text-indent:-9999px;
}
input[type="text"]{
    width: 400px;
    height: 50px;
    box-shadow: 5px 5px pink;
    /* padding: 0 10px; */
}
input[type="password"]{
    width: 400px;
    height: 50px;
    box-shadow: 5px 5px pink;
    /* padding: 0px 10px; */
}

input::placeholder{
    font-size: 12px;
    color:lightgray;
}
#dblCheck1{
    display: block;
    text-align: center;
    width: 80px;
    height: 20px;
    border: 1px solid grey;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -20px;

}
#dblCheck2{
    display: block;
    text-align: center;
    width: 100px;
    height: 20px;
    border: 1px solid grey;
    margin: 0 auto;
    margin-bottom: -40px;
    margin-top: -10px;
}
#dblCheck22{
    display: block;
    text-align: center;
    width: 100px;
    height: 20px;
    border: 1px solid grey;
    margin: 0 auto;
}
#dblCheck3{
    display: block;
    text-align: center;
    width: 100px;
    height: 20px;
    border: 1px solid grey;
    margin: 0 auto;
    margin-top: 10px;
}
#dblCheck4{
    display: block;
    text-align: center;
    width: 400px;
    height: 50px;
    border: 1px solid pink;
    background-color: pink;
    margin: 0 auto;
    margin-top: 20px;
}
#dblCheck11{
    display: block;
    text-align: center;
    width: 100px;
    height: 20px;
    border: 1px solid grey;
    margin: 0 auto;
    margin-top: 10px;
}
.footerWrap{
    bottom:0;
}
