@charset "UTF-8";

#upperSmallNav a {
  color: #000;
}

div#headerWrap ul > li > a {
  color: #000;
}

#writeNoticeWrap_hj { 
  width: 100%; 
  max-width: 70%;
  height: 100%;
  position: relative;
  top: 150px;
  margin: 0 auto;
  padding-bottom: 25vh; 
}